h1{
   color:blueviolet; font-size: 60px; margin-left: 300px; 
}
h2{
    font-size: 40px; margin-left: 300px;
}
p{
    font-size: 20px; margin-left: 300px;
}
.btn1{
    position:absolute ; left: 20px; bottom: 775px;
}
.btn2{
    position:absolute ; left: 20px; bottom: 750px;
}
.btn3{
    position:absolute ; left: 20px; bottom: 725px;
}
.btn4{
    position:absolute ; left: 20px; bottom: 700px;
}
.btn5{
    position:absolute ; left: 20px; bottom: 675px;
}

